### Basic Data Types

In programming terminology, they are also commonly known as literals. Literals can be of different types for e.g 1, 11  are of type int, 3.14 is a float and "hello" is a string. Remember that in Python everything is object even basic data types like int, float, string, we will elaborate more on this in later chapters.

In Python, you don't need to declare types of variables ahead of time. The interpreter automatically detects the type of the variable by the data it contains. To assign value to a variable equal sign (=) is used. The = sign is also known as the assignment operator.

In [1]:
# The following are some examples of variable declaration:

x = 100                       # x is integer
pi = 3.14                     # pi is float
empname = "python is great"   # empname is string
is_true = True               # is_true is bool

a = b = c = 100               # this statement assign 100 to c, b and a.

In [2]:
# python assignments

c, d = 3, 4        # unpacking
x = y = z = 0      # multiple assignment
e = 3.5; f = 5.6   # semicolon seperates the simple statement on the same line
e, f = f, e        # value exchange
a, *b = [1, 2, 3, 4, 5] # extended unpacking

print(a, b, sep='\n')

1
[2, 3, 4, 5]

In [3]:
# str() method returns a string version of object
str(12345)

'12345'

In [4]:
# check data type
a = 1
type(a)

int

In [5]:
# Augmented assignment operators
# +=, -=. *=, /=, //=, &=. **=. >>=, <<=, &=, ^=, |=
a += 2
print(a)

3

In [6]:
# format method
# format(value, format_spec)

print(format(3.141592, '10.3f'))  # input spec argument as string format

     3.142

In [7]:
# fancier usage of format

'Name : {0}, Student_ID : {1}'.format('your name', 1234)

'Name : your name, Student_ID : 1234'

In [8]:
# want to know bool?
# try to print the following

bool(3)  # True
bool(0)  # False
bool([]) # False

False

### String

   1. There are six sequence types in python: strings, Unicode strings, lists, tuples, buffers, and xrange objects.
   1. Some common operations for the sequence type object can work on both mutable and immutable sequences.

In [9]:
# string basics & operations

s = 'Machine Learning'
len(s)  # length of the string

16

In [10]:
'Machine' in s  # check whether the substring is in s

True

In [11]:
# Return a copy of the string with all the cased characters converted to uppercase
s.upper()

'MACHINE LEARNING'

In [12]:
# convert to lowercase
s.lower()

'machine learning'

In [13]:
# Return a list of the words in the string, using sep as the delimiter string
s.split(sep='e')

['Machin', ' L', 'arning']

In [14]:
# If sep is not specified or is None, runs of consecutive whitespace are regarded as a single separator
s.split()

['Machine', 'Learning']

In [15]:
# Return the lowest index in the string where substring is found within the slice s[start:end]
s.find('ear')

9

In [16]:
# concatenate two sequences a and b
a = 'Machine'
b = 'Learning'
a + b

'MachineLearning'

In [17]:
# add sequence a with itself n times
a * 3

'MachineMachineMachine'

In [18]:
# indexing; i'th item of the sequence
s[9]  # seq[i]

'e'

In [19]:
# slicing; slice sequence from index i to j with step k
s[2:10:2]  # seq[i:j:k]

'cieL'

In [20]:
# string is immutable data type
s[0] = 'm'

TypeError: 'str' object does not support item assignment

In [21]:
# change the string? -> use slicing, create new object of string and reassign
s = 'm' + s[1:]
s

'machine Learning'

### Python Numbers

This data type supports only numerical values like 1, 31.4, -1000, 0.000023, 88888888

Python supports 3 different numerical types.

    1. int - for integer values like 1, 100, 2255, -999999, 0, 12345678
    2. float - for floating-point values like 2.3, 3.14, 2.71, -11.0
    3. complex - for complex numbers like 3+2j, -2+2.3j, 10j, 4.5+3.14j

In [22]:
# int type

a = 1234
type(a)

int

In [23]:
isinstance(a, int) # check data type

True

In [24]:
# int() method :  conver to int data type
int(3.2)

3

In [25]:
int(-3.9)

-3

In [26]:
int('1234')

1234

In [27]:
# try to convert string type of float to int type
int(float('123.45'))

123

In [28]:
# convert int type to other data type
a = 1234
float(a)

1234.0

In [29]:
str(a)

'1234'

In [30]:
complex(a)

(1234+0j)

In [31]:
# float type

a = 3.14
isinstance(a, float)

True

In [32]:
# we can express infinity as follows
float('inf'), float('-inf')

(inf, -inf)

In [33]:
a.is_integer()

False

In [34]:
a = 3.0  # float
a.is_integer()

True

In [35]:
# complex type

a = 3 + 4j
b = 2 - 3j
a * b

(18-1j)

In [36]:
# call attribute of real part
a.real

3.0

In [37]:
# call attribute of imaginary part
a.imag

4.0

In [38]:
# convert to conjugate 
a.conjugate()

(3-4j)

In [39]:
# arithmetic operator

a = 10; b = 20

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(b / a) # division
print(b & a) # modulus
print(a ** b) # sxponent
print(b // a) # floor division

30
-10
200
2.0
0
100000000000000000000
2

In [40]:
# comparison operators

print(a == b) # check whether the two operands are equal
print(a != b) # check whether the two operands are not equal
print(a > b) # check whether the left operand is greater than the right operand
print(a < b) # check whether the left operand is less than the right operand
print(a >= b) # check whether the left operand is greater than or equal to the right operand
print(a <= b) # check whether the left operand is less than or equal to the right operand

False
True
False
True
False
True

In [41]:
# logical operators
# not necessarily return bool type

print(a and b)  # If both the operands are true then condition becomes true
print(a or b)   # If any of the two operands are non-zero then condition becomes true
print(not (a or b))  # Used to reverse the logical state of its operand.

20
10
False

### Categorization of Data Types


**1. Direct type** : supported type of python number
            ex) int, float, complex

**2. Sequence type** : any ordered collection of objects whose contents can be accessed via â€œindexing" 
            ex) list, str, tuple, bytes, bytearray, range

**3. Mapping type** : object that maps values of one type (the key type) to arbitrary objects, 
            ex) dict

**4. Set type** : unordered collections of unique elements
            ex) set, frozenset

### Mutable & Immutable

**1. Mutable** : Objects whose value can change
            ex) list, dict, set

**2. Immutable** : objects whose value is unchangeable once they are created
            ex) int, float, complex, str, tuple, frozenset

### Scalar(Literal) & Container

**1. Literal/Scalar type** : a object has a specific and concrete value 
            ex) str, bytes, bytearray, int, float, complex
            
**1. Container type** : any object that holds an arbitrary number of other objects 
            ex) list, tuple, dict, set, frozenset

### List

1. As opposed to data types such as int, bool, float, str, a list is a compound data type where you can group values together
1. You can create a list with square brackets
1. It is also possible for a list to contain different types within it as well

In [42]:
# create empty list

a = []
a = list()

In [43]:
# change the elements in list via indexing

a = ['this', 'is', 'a', 'list']
a[2] = 10
a

['this', 'is', 10, 'list']

In [44]:
# delete element

a[:2] = []
a

[10, 'list']

In [45]:
# add element

a[1:1] = [100, 1234]
a

[10, 100, 1234, 'list']

In [46]:
# slicing from i to j with step k

a[::2]  # slicing from start to end with step 2

[10, 1234]

In [47]:
# extended slice

a[::2] = list(range(2))
a

[0, 100, 1, 'list']

In [48]:
# delete elements via del keyword

del a[0]
a

[100, 1, 'list']

In [49]:
del a[:2]
a

['list']

In [50]:
# nested list
a = ['this', 'is', 'a', 'list']
b = [1, a, 3]
b

[1, ['this', 'is', 'a', 'list'], 3]

In [51]:
# indexing
b[1][1]

'is'

In [52]:
# change element in nested list
a[1] = 100
b

[1, ['this', 100, 'a', 'list'], 3]

In [53]:
# list method (inplace operation)

a.append(123) # Add x at the end of the sequence
a

['this', 100, 'a', 'list', 123]

In [54]:
a.insert(3, 1234) # Insert x at the position i, usage: seq.insert(i, x)
a

['this', 100, 'a', 1234, 'list', 123]

In [55]:
a.index(1234) # Index of the first occurrence of 1234

3

In [56]:
a.count(1234) # Count total number of elements in the sequence

1

In [57]:
a.reverse() # Reverse the list, In-place operation
a

[123, 'list', 1234, 'a', 100, 'this']

In [58]:
a.remove('this') #Remove first occurrence of item 
a.remove('a')
a.remove('list')
a

[123, 1234, 100]

In [59]:
# Sort the list, In-place operation
# If you want to sort Out-of-place, use sorted()

print(sorted(a))
print(a)

a.sort()
print(a)

[100, 123, 1234]
[123, 1234, 100]
[100, 123, 1234]

In [60]:
a.pop() # return the item of last element and also remove from the list
a.pop(0) # return the item of i'th item and remove
a

[123]

In [61]:
a.extend([12345, 123456]) # extend list
a

[123, 12345, 123456]

In [62]:
# usage with for statement
for i in a:
    print(i)

123
12345
123456

In [63]:
# If reverse is True, iterable would be sorted in reverse(descending) order
sorted(a, reverse=True)

[123456, 12345, 123]

In [64]:
# key argument is a function that serves as a key or a basis of sort comparison

def func(a):
    return a % 3

sorted(a, key=func)

[123, 12345, 123456]

In [65]:
L = 'Machine learning is my Life'.split()
L

['Machine', 'learning', 'is', 'my', 'Life']

In [66]:
sorted(L) # sorted as alphabetical order

['Life', 'Machine', 'is', 'learning', 'my']

In [67]:
sorted(L, key=str.lower) # the strings pass to str.lower() method and sorted based on str.lower(word)

['is', 'learning', 'Life', 'Machine', 'my']

In [68]:
# using lambda function
# lambda input: func(input)

sorted(L, key=lambda x: len(x)) # sorted based on thier length

['is', 'my', 'Life', 'Machine', 'learning']

In [69]:
# list comprehension
# list comprehension can utilize conditional statement to modify exisiting list
a = [x for x in range(20) if x % 2 == 0]
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [70]:
# nested if statement with list comprehension
a = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [71]:
# if else statement with list comprehension
a = ['even' if i % 2 == 0 else 'odd' for i in range(10)]
a

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

### Tuple & Set

1. Similar to Python lists, tuples are another standard data type that allows you to store values in a sequence    
1. Similar to python list, **python tuple** is **ordered** data structure
1. How tuple differs from a python list?
    - **tuple** is **immutable** data type -> cannot change the element inplace


1. **Python set** is **mutable** but **unordered** collection of **unique** element

In [72]:
# create empty tuple
t = ()

In [73]:
# construct tuple

t = (1,) # creating tuple with one element, need a comma
t = 1,  # you can create without using parentheses
t = (1, 2, 3)
t = 1, 2, 3

In [74]:
# tuple is immutable -> changing the value is not supported (similar to string)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [75]:
# tuple support membership, count, index, slicing.. method
# nested tuple is also possible

# Packing
t = 1, 2, 'python'
t

(1, 2, 'python')

In [76]:
# Unpacking
a, b, c = t
print(a)
print(b)
print(c)

1
2
python

In [77]:
# list also support unpacking
l = [1, 2, 'python']
a, b, c = l
print(a)
print(b)
print(c)

1
2
python

In [78]:
# extended unpacking
t = 1, 2, 3, 4, 5  # create tuple
a, *b, c = t
print(a)
print(b)  # b is list
print(c)

1
[2, 3, 4]
5

In [79]:
# convert to list
list(t)

[1, 2, 3, 4, 5]

In [80]:
# tuple as arguments
def add_sub(a, b):
    return a + b, a - b  # return as tuple type

x, y = add_sub(3, 4) # unpacking output
print(x, y)

7 -1

In [81]:
args = (3, 4)
x, y = add_sub(*args) # equivalent to add_sub(3, 4)
print(x, y)

7 -1

In [82]:
a = set() # create empty set (warning!: '{}' is empty dictionary)
a

set()

In [83]:
b = {1, 2, 4} # create set object
b

{1, 2, 4}

In [84]:
# set can be created by iterable object
set([1, 2, 3])

{1, 2, 3}

In [85]:
set('string') # string object is also iterable

{'g', 'i', 'n', 'r', 's', 't'}

In [86]:
# set is collection of 'unique' elements
set([1, 2, 3, 1, 2, 3, 1, 2, 3])

{1, 2, 3}

In [87]:
# Only hashable type (equivalent to immutable type) can be a element of set
a = [1, 2, 3] # list is unhashable (mutable)
b = [3, 4, 5]
set([a, b])

TypeError: unhashable type: 'list'

In [88]:
# count the number of elements
a = set((1, 2, 3))
len(a)

3

In [89]:
a.add(4) # add element 4  (In-place operation)
a

{1, 2, 3, 4}

In [90]:
a.update([4, 5, 6]) # a U {4, 5, 6}
a

{1, 2, 3, 4, 5, 6}

In [91]:
b = {6, 7, 8}
c = {8, 9, 10}
a.update(b, c) # get more than two arguments
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [92]:
# remove the elements -> remove(), discard() method
# what's different?
a.remove(3)
a

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [93]:
# Out-of-place set operation
print(a.union(b)) # a U b
print(a.intersection(b)) # a & b
print(a.difference(b))  # a - b

{1, 2, 4, 5, 6, 7, 8, 9, 10}
{8, 6, 7}
{1, 2, 4, 5, 9, 10}

### Dictionary

1. A piece of data or values that can be accessed by a key(word) you have at hand
1. You can store the data with key-value pair
1. The data structure is like below:

```python
{key1: value1, key2: value2, ...}
```

In [94]:
a = {} # create empty dictionary
a

{}

In [95]:
# create dict in various ways
# the followings are equivalent

a = {'apple': 1, 'banana': 2, 'orange': 3}
a = dict(apple=1, banana=2, orange=3)
a = dict([('apple',1), ('banana',2), ('orange',3)])

keys = ['apple', 'banana', 'orange']
values = (1, 2, 3)
a = dict(zip(keys, values))  # zip return a sequence object of (key, value) pair

a

{'apple': 1, 'banana': 2, 'orange': 3}

In [96]:
a['banana'] # search using key

2

In [97]:
a['grape'] = 4   # set new key-value
a

{'apple': 1, 'banana': 2, 'orange': 3, 'grape': 4}

In [98]:
a['grape'] = 0 # change the value
a

{'apple': 1, 'banana': 2, 'orange': 3, 'grape': 0}

In [99]:
# length of dict
len(a)

4

In [100]:
del a['banana'] # delete key
a

{'apple': 1, 'orange': 3, 'grape': 0}

In [101]:
# key must be hashable (== immutable) type (list, dict, .. can not be a key)
# value can be every data type
d = {}
d['string'] = 'abc'
d[1] = 2
d[(1, 2, 3)] = 'tuple'
d

{'string': 'abc', 1: 2, (1, 2, 3): 'tuple'}

In [102]:
d[[1, 2, 3]] = 'list'

TypeError: unhashable type: 'list'

In [103]:
# even function can be a key or value

def add(a, b):
    return a + b

def sub(a, b):
    return a - b

d = {'add':add, 'sub':sub}
d['add'](4, 5)

9

In [104]:
# return keys 
a.keys()

dict_keys(['apple', 'orange', 'grape'])

In [105]:
# return values
a.values()

dict_values([1, 3, 0])

In [106]:
# return items
a.items()

dict_items([('apple', 1), ('orange', 3), ('grape', 0)])

In [107]:
# dict can be used as iterable object
for key in a:
    print(key)

apple
orange
grape

In [108]:
for (key, value) in a.items():
    print(key, value)

apple 1
orange 3
grape 0

***Quick Question:*** Count how many times each letter appears

In [112]:
def histogram(string):
    histo = {}
    ### START CODE HERE ###
    
    ### END CODE HERE ###
    return histo

histogram("extraordinary")

{'e': 1,
 'x': 1,
 't': 1,
 'r': 3,
 'a': 2,
 'o': 1,
 'd': 1,
 'i': 1,
 'n': 1,
 'y': 1}

In [114]:
# Dictionary Comprehension

s = 'abcde'
d1 = {k: v for k, v in zip(s, range(1, 6))}
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [115]:
double_d1 = {k: v * 2 for k, v in d1.items()}
double_d1

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [116]:
double_d2 = {k * 2: v for k, v in double_d1.items()}
double_d2

{'aa': 2, 'bb': 4, 'cc': 6, 'dd': 8, 'ee': 10}

In [117]:
# dict comprehension with if else conditions
dict_cond = {k: ('even' if v % 2 == 0 else 'odd') for k, v in double_d2.items()}
dict_cond

{'aa': 'even', 'bb': 'even', 'cc': 'even', 'dd': 'even', 'ee': 'even'}

### File Read & Write

Three basic things: how to open, read and write data into flat files

In [118]:
s = 'Welcome to tutorial on reading and writing files in python!\n'
f = open('text1.txt', 'w') # open file as write only mode

In [119]:
f.write(s) # write text in txt file and return number of characters

60

In [120]:
f.write('Writing new line\n') # write new line in it
f.close()
f = open('text1.txt') # open file as read mode
print(f.read())

Welcome to tutorial on reading and writing files in python!
Writing new line

In [121]:
# write lines with 'with' statement
with open('text1.txt', 'w') as f:
    f.write('Welcome to tutorial on reading and writing files in python!\n')

In [122]:
# file read
f = open('text1.txt') # default as read only mode
print(f.read())
f.close()

Welcome to tutorial on reading and writing files in python!

In [123]:
# write multiple lines using writelines method
# usage: file.writelines(list)

lines = ['Welcome to tutorial', 'on reading and writing', 'files in python!']
f = open('text2.txt', 'w')
f.writelines('\n'.join(lines))

In [124]:
# read file
# readline(), readlines() methods

with open('text2.txt') as f:
    for line in f:
        print(line, end=' ')

Welcome to tutorial
 on reading and writing
 files in python!

In [125]:
# readline()

f = open('text2.txt')
line = f.readline()
while line:
    print(line, end=' ')
    line = f.readline()

Welcome to tutorial
 on reading and writing
 files in python!

In [126]:
# readlines()

f = open('text2.txt')
f.readlines()  # return as a list

['Welcome to tutorial\n', 'on reading and writing\n', 'files in python!']

In [127]:
# open a file for appending new lines
f = open('text2.txt', 'a')
f.write('\nWriting new lines!')

f = open('text2.txt', 'r')
f.readlines()

['Welcome to tutorial\n',
 'on reading and writing\n',
 'files in python!\n',
 'Writing new lines!']

### Python Control Flow

```if-elif-else``` are conditional statements that provide you with the decision making that is required when you want to execute code based on a particular condition. It is very common for programs to execute statements based on some conditions. The syntax of ```if-elif-else``` statement is the following:
```python
if boolean statement1:
    statement1
elif boolean statement2:
    statement2
else:
    statement3
```

In [128]:
# define variable
a = 'first condition'
b = 20

# if-slif-else construct
if a == 'first condition':
    print('first statement')
elif a == 'second condition':
    print('second statement')
elif a == 'third condition':
    print('third statement')
else:
    print('no conditions match')

first statement

In [129]:
# if-else construct
if b > 10:
    print('b is higher than 10')
else:
    print('b is not higher than 10')

b is higher than 10

### Loops

If you want to write the same line of code multiple times, loops help you to excute a block of code repeatedly.

Python supports two kinds of loops:
1. for loop
1. while loop

The syntax of for loop:
```python
for i in iterable object:
    statement
```

In [130]:
# example of for loop
# range(a, b, k) returns a sequence from a to b-1 with k step

for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

The syntax of while loop:
```python
while condition:
    statement
```

The while loop keeps executing the statements until condition becomes False. If condition becomes False, execution is out of the loop

In [131]:
# example of while loop
count = 0
while count < 5:
    print(count, end=' ')
    count += 1

0 1 2 3 4

**break & continue statement**

```break``` statement allows to break out of the loop.

When ```continue``` statement encountered, program control goes to the end of the loop.

In [132]:
# example of break statement
count = 0
while count < 5:
    print(count, end=' ')
    count += 1
    if count == 3:  # if count becomes 3, break keyword breaks out of the loop
        break

0 1 2

In [133]:
# example of continue statement
count = 0
while count < 5:
    count += 1
    if count > 3:
        continue
    print(count, end=' ')

1 2 3

**Quick Question:** Transpose the following 2D matrix by using for loop or list comprehension

In [134]:
# transpose using for loop
matrix = [[1, 2, 3, 4], [5, 6, 7, 8]]
matrix_transpose = [[0,0], [0,0], [0,0], [0,0]]

### START CODE HERE ###

### END CODE HERE ###
        
matrix_transpose

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [135]:
# nested loops in list comprehension
matrix = [[1, 2, 3, 4], [5, 6, 7, 8]]

### START CODE HERE ###

### END CODE HERE ###

matrix

[[1, 5], [2, 6], [3, 7], [4, 8]]

### Python Functions

You can use functions to bundle a set of instructions that you want to use repeatedly.

There are three types of functions in python:
- **Built-in functions**: predefined functions (keywords) such as ```print()```, ```str.lower()```, and so on.
- **User-defined functions**
- **Anonymous functions** (lambda function)

The syntax for defining user-defined function :
```python
def func_name():
    statements
    return .. (optional)
```

In [136]:
def hello():
    print('Hello World')
    return  # return None object

hello()

Hello World

In [137]:
# you can call the function in another function

def add_exponent(a, b):  # Required arguments! -> need to be passed during function call
    c = add(a, b)  # we must define add() function!
    return c ** 2

def add(a, b):
    return a + b

In [138]:
add_exponent(3, 4)  # (3 + 4)^2

49

In [139]:
# Default Arguments

def add(a, b=3): # assign default value to b as 3
    return a + b

add(5)  # 5 + 3

8

In [140]:
add(5, 6) # 5 + 6 (call with positional arguments)

11

In [141]:
# keyword arguments -> make sure all the parameters in the right order

def sub(a, b):
    return a - b

sub(5, 10) # call with parameters

-5

In [142]:
sub(b=5, a=10) # call with keyword arguments

5

In [143]:
# Having a positional argument after keyword arguments will result in errors
sub(a=10, 5)

SyntaxError: positional argument follows keyword argument (<ipython-input-143-e30a324bbc44>, line 2)

In [144]:
# usage of unpacking: *args, **kwargs
# asterisk is placed before the tuple object

args = (10, 5)
sub(*args)

5

In [145]:
# variable number of arguments

def vargs(a, *args):
    return a, args

In [146]:
vargs(10)

(10, ())

In [147]:
vargs(10, 11, 12)

(10, (11, 12))

In [148]:
vargs(10, 11, 12, 13, 14, 15)

(10, (11, 12, 13, 14, 15))

In [149]:
# user defined make list function

def make_list(*args):
    return list(args)

make_list(1, 2, 3, 4, 5)

[1, 2, 3, 4, 5]

In [150]:
# double asterisk(**) is placed before the dict object

kwargs = dict(a=5, b=10)
sub(**kwargs) # function call with keyword arguments

-5

In [151]:
# passing undefined keyword arguments

def f(a, b, *args, **kwargs):
    print(a, b)
    print(args)
    print(kwargs)
    
f(1, 2, 3, 4, c=5, d=6)

1 2
(3, 4)
{'c': 5, 'd': 6}

In [152]:
args = (3, 4)
kwargs = {'c':5, 'd':6}

f(1, 2, *args, **kwargs)

1 2
(3, 4)
{'c': 5, 'd': 6}

**Global & Local variable**

**Global variable**: A variable declared outside of the function or in global scope. This means that a global variable can be accessed inside or outside of the function.

**Local variable**: A variable declared inside the function's body or in the local scope.

In [153]:
# define global variable
x = 10
y = 20

In [154]:
# Local variable would be referenced(accessed) if it is assigned in local scope. Otherwise, access global variable

def func1():
    x = 11 # local variable of func1
    def func2():
        z = 30 # local variable of func2
        print(x, y, z) # reference x, z for local variable and y for global variable
    func2()
    x = 12 # change the value of x via local variable assignment (do not affect global variable)
    func2()
    
func1()

11 20 30
12 20 30

In [155]:
# global variable x is not affected by local variable assignment
x

10

**global & nonlocal statement**

In [156]:
g = 10
def func():
    x = g   # g is not local -> reference global variable
    return x

func()

10

In [157]:
# you must assign before reference (no execption to local variable)
g = 10
def func():
    x = g   #  2. but not assigned before reference
    g = 10  # 1. g is considered as local variable,
    return x

func()

UnboundLocalError: local variable 'g' referenced before assignment

In [158]:
# global statement connects local to global variable

g = 10
def func():
    global g  # connect local to global g
    x = g
    g = 20  # change the global variable g
    return x

func(), g

(10, 20)

In [159]:
# nonlocal statement connect local to variable in closest namescope

def func1():
    x = 1
    def func2():
        nonlocal x  # connect local x of func2 to variable x of func1
        x = 10  # change the variable x of func1
        print(x)
    func2()
    print(x)

func1()

10
10

In [160]:
# function as a argument

def f(a, b):
    return a + b

def g(func, a, b):
    return func(a, b) # function as a argument

g(f, 4, 5)

9

In [161]:
# lambda function
f = lambda : 1  # no parameter, just return 1
f()

1

In [162]:
f = lambda x, y: x + y
f(4, 5)

9

In [163]:
f = lambda x, y=10: x + y  # keyword argument support
f(20)

30

In [164]:
keywords = lambda x, *args, **kwargs: kwargs
keywords(1, 2, 3, a=4, b=5)

{'a': 4, 'b': 5}

**Quick Question:** Define function that check whether a given Number is a prime number.

In [165]:
def check_prime(number):
    ### START CODE HERE ###
    
    ### END CODE HERE ###

check_prime(2)
check_prime(10)
check_prime(17)

2 is a prime number
10 is not a prime number
17 is a prime number

**Quick Question:** Compute i'th element of Fibonacci sequence

In [166]:
def fibo(n):
    ### START CODE HERE ###
    
    ### END CODE HERE ###

print(fibo(10))

55

### Class & Class Inheritance

Class name in python is preceded with class keyword followed by a colon ```:```. 

Classes commonly contains data field to store the data and methods for defining behaviors. 

Its definitions play some neat tricks with namespaces

In [167]:
class S1:
    a = 10
    
S1.a

10

In [168]:
S1.b = 20 # create a new member in class namespace
S1.b

20

In [169]:
inst1 = S1() # create instance object from class
print(inst1.a)  # instance namespace is different from class namespace

inst2 = S1() # create another instance object from class
inst2.a = 100 # inst2 instance object namespace is not shared with inst1 instance object
print(inst2.a, inst1.a)

10
100 10

In [170]:
# define method in class
# 'self' method parameter means instance object created from class itself

class Person:
    # constructor or initializer
    def __init__(self, name): 
        self.name = name # name is data field also commonly known as instance variables

    # method which returns a string
    def whoami(self):
        return "You are " + self.name

In [171]:
person1 = Person(name='your name')  # create instance, automatically call __init__() method first
Person.whoami(person1) # unbound method call

'You are your name'

In [172]:
# bound method call
person1.whoami()

'You are your name'

In [173]:
# method call inside the class

class Myclass:
    def __init__(self, v):
        self.value = v
    def get(self):
        return self.value
    def count(self):
        self.value = self.value + 1  # reference and assign to instance member
        return self.get()  # method call

### Class member & Instance member

1. class member is defined outside of the methods
1. instance member is defined inside method via 'self' as self.inst_member
1. class member is created in class namespace
1. instance member is created in instance namespace
1. class member can be shared in all created instances
1. instance member can be referenced from each instance object

In [174]:
class Var:
    c_mem = 100 # class member
    def f(self):
        self.i_mem = 200 # instance member
    def g(self):
        return self.i_mem, self.c_mem

In [175]:
Var.c_mem  # call class member

100

In [176]:
v1 = Var()  # create instance
v1.c_mem    # call class member via instance object

100

In [177]:
v1.f()  # create instance member i_mem
v1.i_mem  # call instance member i_mem

200

In [178]:
# Class Inheritance

class parent:
    def __init__(self):
        self.parent_attr = 'I am a parent'
        
    def parent_method(self):
        print('call parent method..')
        
# create child class that inherits from parent class
class child(parent):
    def __init__(self):
        parent.__init__(self)
        self.child_attr = 'I am a child'

In [179]:
# create instance of child
child1 = child()

# print attributes and call method
print(child1.parent_attr)
print(child1.child_attr)
child1.parent_method()

I am a parent
I am a child
call parent method..

In the simplest case, the ```super``` function can be used to replace the explicit call to 

```python 
Parent.__init__(self) 
```

In [180]:
# the above child class is identical to:
class child(parent):
    def __init__(self):
        super().__init__()  # do not depend on the name of parent class and we don't need to pass 'self' to call this method!
        self.child_attr = 'I am a child'

In [181]:
# When a method in a subclass( == child class) has the same name with the method in parent class, 
# subclass finds and references the method in its namespace.
# see the example below

class Base(object):  # equivalent to Base:
    def f(self):
        self.g()   # call g method
    def g(self):
        print('call Base class method')

# create subclass Derived inherits from Base
class Derived(Base):
    def g(self):  # same name with parent class method
        print('call Derived class method')

In [182]:
b = Base()
b.f()

call Base class method

In [183]:
a = Derived()
a.f()

call Derived class method

In [184]:
# Multiple Inheritance without super

class B:
    def b(self):
        print('class B')


class C:
    def c(self):
        print('class C')


class D(B, C):
    def d(self):
        print('class D')

In [185]:
d = D()
d.b(); d.c(); d.d()

class B
class C
class D

In [186]:
# What's happening when excuting code with multiple & multilevel inheritance without super method ?
# see the examples below
class A:
    def save(self):
        print('A save called')
        
class B(A):
    def save(self):
        print('B save called')
        A.save(self)
        
class C(A):
    def save(self):
        print('C save called')
        A.save(self)
        
class D(B, C):
    def save(self):
        print('D save called')
        B.save(self)
        C.save(self)
        
d = D()
d.save()  # induce redundant save!

D save called
B save called
A save called
C save called
A save called

In [187]:
# with super method:
class A:
    def save(self):
        print('A save called')
        
class B(A):
    def save(self):
        print('B save called')
        super().save()  # prevent unwanted call
        
class C(A):
    def save(self):
        print('C save called')
        super().save()  # prevent unwanted call
        
class D(B, C):
    def save(self):
        print('D save called')
        super().save()
        
d = D()
d.save()

D save called
B save called
C save called
A save called

**References** 

https://thepythonguru.com/

https://www.datacamp.com/community/tutorials/

https://docs.python.org/3/

https://www.programiz.com/python-programming

https://www.programiz.com/python-programming/examples 

https://python.swaroopch.com/oop.html

íŒŒì´ì¬3 ë°”ì´ë¸” - ì´ê°•ì„± ì €, í”„ë¦¬ë ‰(ì´í•œë””ì§€í„¸ë¦¬)