## Python Exercise

## **1) Convert to Celsius To Fahrenheit**

- The formula between Celsius and Fahrenheit :


> > *celsius * 1.8 = fahrenheit - 32*

- Convert given temperature in celsius to fahrenheit

- 34.5 degree Celsius

In [18]:
Cel = 34.5

Far = (Cel * 1.8) +32

print('%0.1f degree Celsius is equal to % 0.1f degree Fahrenheit' % (Cel, Far))

34.5 degree Celsius is equal to  94.1 degree Fahrenheit

## **2) Check if a Number is odd or even**

- Take input and check if the input number is odd or even

In [36]:
number = int(input("Enter a number: "))
if (number % 2) == 0:
    print(" %d is even" % number)
else:
    print(" %d is odd" % number)

Enter a number: 17
 17 is odd

## **3) Matrix Transpose**

- Transpose the following matrix using loop and list

- M = [[11, 19],
     [2,1], 
     [29, 40]]

In [19]:
M = [[11, 19],
     [2,1], 
     [29, 40]]

M_transpose = [[0,0,0], [0,0,0]]

for i in range(len(M)):
    for j in range(len(M_transpose)):
        M_transpose[j][i] = M[i][j]

print(M_transpose)

[[11, 2, 29], [19, 1, 40]]

## **4)Matrix Multiplication**

**1.Multiply the following two matrices using loop**

- A = [[1,3,5],[2,4,7]]
- B = [[1,6],[2,4],[9,2]]

In [21]:
A = [[1,3,5],[2,4,7]]
B = [[1,6],[2,4],[9,2]]

result = [[0,0],[0,0]]

for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]

print(result)

[[52, 28], [73, 42]]

**2.Multiply the following two matrices using nested list comprehension**

In [33]:
a = [[1,3,5],[2,4,7]]
b = [[1,6],[2,4],[9,2]]


result = [[sum(a*b for a,b in zip(a_row, b_col)) for b_col in zip(*b)] for a_row in a] # * operation unpacks a list

print(result)

[[52, 28], [73, 42]]

**3.Multiply the following two matrices using Numpy**

In [26]:
import numpy as np

A = [[1,3,5],[2,4,7]]
B = [[1,6],[2,4],[9,2]]

A_np = np.array(A)
B_np = np.array(B)

result = np.matmul(A_np, B_np)
print(result)

[[52 28]
 [73 42]]

## **5) Make a function that finds the least common multiple(L.C.M.) of two numbers**

- Find the L.C.M. of 18 and 24

In [4]:
def find_lcm(a,b):

    if a > b:
        greater = a
    
    else:
        greater = b

    while(True):
        if ((greater % a == 0) and (greater % b == 0)):
            lcm = greater
            break
        else:
            greater +=1
        
    
    return lcm

n1 = 18
n2 = 24

print("The LCM is ", find_lcm(n1,n2))

The LCM is  72

## **6) Compute Fibonacci sequence using recursion**

- Find 10th term of Fibonacci sequence

In [6]:
def fibo(n):
    if n<=1:
        return n

    else:
        return(fibo(n-1) + fibo(n-2))

print(fibo(10))

55

## **7) Dictionary - Count how many times each letter appears**

> Ex)Extraordinary

In [8]:
def histogram(string):
    histo = {}
    for s in string:
        if s not in histo:
            histo[s] = 1
        else:
            histo[s] +=1
    return histo

histogram("extraordinary")

{'a': 2,
 'd': 1,
 'e': 1,
 'i': 1,
 'n': 1,
 'o': 1,
 'r': 3,
 't': 1,
 'x': 1,
 'y': 1}

## **8) Class exercise**

In [26]:
class SchoolMember:
    def __init__(self, name, age):

        self.name = name
        self.age = age
        print('(Initailized SchoolMember: %s)' % self.name)
    def tell(self):

        print('Name: %s, Age: %d' % (self.name, self.age))
    
class Teacher(SchoolMember): #Inherit from SchoolMember
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
        self.salary = salary
        print('(Initailized Teacher: %s)' % self.name)

    def tell(self):
        SchoolMember.tell(self)
        print('Salary: %d' % self.salary)

class Student(SchoolMember): #Inherit from SchoolMember
    def __init__(self, name, age, student_number):
        SchoolMember.__init__(self, name, age)
        self.student_number = student_number
        print('(Initailized Student: %s)' % self.name)

    def tell(self):
        SchoolMember.tell(self)
        print('student_number: %d' % self.student_number)


a = Teacher('Messi', 33, 30000)
a.tell()

b = Student('Neymar', 30, 74)
b.tell()

(Initailized SchoolMember: Messi)
(Initailized Teacher: Messi)
Name: Messi, Age: 33
Salary: 30000
(Initailized SchoolMember: Neymar)
(Initailized Student: Neymar)
Name: Neymar, Age: 30
student_number: 74

#Reference

https://www.programiz.com/python-programming/examples 

https://python.swaroopch.com/oop.html